.button{
    display: flex;
    width: 12rem;
    height: 3rem;
    background-color: #0EA5E9;
}
.button p{
    margin: auto;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
    color: #000000;
}
