.delete {
    display: flex;
    height: 3rem;
    width: 13vw;
    margin-left: 1vw;
    background-color: #0EA5E9;
}
.delete button {
    margin: auto;
    //font-size: 2vw;
}
button {
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
    color: #000000;
}
