.loading {
    display: flex;
    height: 3rem;
    width: 12rem;
    background-color: #0EA5E9;
    margin: 1rem;
}
.loading label {
    margin: auto;
    font-size: 18px;
}
.file_img {
    display: none;
}
