@media  (max-width: 600px) {
    .boardAds {
        display: flex;
        flex-direction: column;
        position: relative;
        box-sizing: border-box;
        margin: 2rem 0 2rem 1rem;
        top: 0;
    }
    .imageDescriptionPrice{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        position: relative;
        height: auto;
        margin: 0 0 1rem 0;

    }
    .image{
        height: 12rem;
        width: 12rem;
        margin: auto;
        margin-bottom: 1rem;
        border: 1px solid black;
    }
    .price{

        margin-left: 0;
    }
    .description{
        display: flex;
        flex-direction: column;
        position: relative;
        height: auto;
        font-size: 1.3rem;
    }
    .description p{
        margin: 0;
    }
    .description-salesman {
        height: 5rem;
        margin: 0 1rem 1rem 0;
        font-size: 1.3rem;
    }
    .phone{
        box-sizing: border-box;
        position: relative;
        text-align: center;
        padding-bottom: 0.3rem;
        background-color: #0EA5E9;
    }
    .imagesAndPhone{
        height: 16rem;
        width: 12rem;
        margin-left: auto;
        margin-right: auto;
    }
    .loadingAndSave{
        display: flex;
        flex-direction: column;
        position: relative;
        margin: auto;
    }
    .loading {
        display: flex;
        height: 3rem;
        width: 12rem;
        background-color: #0EA5E9;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
    }


    .priceAndChange {
        display: flex;
        flex-direction: column-reverse;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        width: 15rem;
    }
    .DeleteAndChange {
        display: flex;
        flex-direction: column;
        position: relative;
        margin-top: 1rem;
        width: 15rem;
        margin-left: auto;
        margin-right: auto;
    }
    .change{
        display: flex;
        position: relative;
        height: 3rem;
        width: 100%;
        background-color: #0EA5E9;
        margin-bottom: 1rem;
        margin-left: auto;
        margin-right: auto;
    }
    .change p{
        margin: auto;
        font-size: 5vw;
    }
    .delete{
        display: flex;
        height: 3rem;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        background-color: #0EA5E9;
    }
    .delete p{
        margin: auto;
        font-size: 5vw;
    }


}
