.price {
    /* display: flex; */
    /* flex-flow: row; */
    /* position: relative; */
    /* box-sizing: border-box; */
    /* height: 2rem; */
    order: 1;
    margin-left: auto;
    /* left: 0; */
    font-size: 1.5rem;
    white-space: nowrap;
}
