.textarea_div {
    display: flex;
    flex-direction: column;
    height: 10rem;
    margin: 3rem 0 2rem 0;
}
p {
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
    color: #000000;
}
.textarea {
    position: relative;
    height: 10rem;
    margin: 0;
}
